* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 15px;
}

body {
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h2 {
	font-size: 2em;
}

.wrapper {
    flex: 1; 
    display: flex;
    flex-direction: column;
    margin: 2em;
    max-width: 100%;
    position: relative;
}

.title {
	text-align: center;
	font-size: 3em;

}

.score_time_block {
	display: flex;
	flex-direction: row;
	justify-content: center;
    gap: 2em;
	margin-bottom: 2em;
	margin-top: 2em;
}

.description_score {
	display: flex;
	flex-direction: row;
	gap: 1em;
}

.start-button {
    background-color: brown;
    color:whitesmoke;
    font-size: 1.8em;
    width: 4em;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.start-button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.description_time {
	display: flex;
	flex-direction: row;
	gap: 1em;
}

.grid {
	width: 516px;
	height: 516px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color:darkolivegreen;
}

.square {
	height: 170px;
	width: 170px;
	border: solid black 1px;
}

.mole {
	background-image: url('../images/mole2.svg');
	background-size: cover;
}
.play_block {
    position: relative;
	display: flex;
	flex-direction: row;
    justify-content: center;
    /**margin-left: 5em;**/
    gap: 6em;
}

.counter {
    position: absolute;
    left: 5%;
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}

#last-10-scores {
	margin-right: 5em;
}

li {
    list-style-type: none;
    font-size: 1.5em;
    border: 1px solid black;
    list-style-position: inside;
}

.score_counter {
	margin-right: 2em;
}

.footer {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
}
  
.git_hub {
	margin-left: 10%;
}
  
.link {
	margin-right: 10%;
}
  
.link_to_git {
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
}
  
.current_year {
	font-size: 1.5em;
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.link_to_rssch {
	text-decoration: none;
}
  
.link_to_git:hover {
	color: coral;
}
  
.link_to_git:active {
	color: blue;
}


