* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 15px;
}

body {
	background-color: blanchedalmond;
}

h2 {
	font-size: 2em;
}

.wrapper {
	display: flex;
	flex-direction:column ;
	margin: 5em;
}

.title {
	text-align: center;
	font-size: 3em;

}

.score_time_block {
	display: flex;
	flex-direction: row;
	gap: 5em;
	margin-bottom: 2em;
	margin-top: 2em;
}

.description_score {
	display: flex;
	flex-direction: row;
	gap: 1em;
}

.description_time {
	display: flex;
	flex-direction: row;
	gap: 1em;
}

.grid {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color:darkolivegreen;
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
}

.mole {
	background-image: url('../images/mole2.svg');
	background-size: cover;
}
.play_block {
	display: flex;
	flex-direction: row;
}

.counter {
	display: flex;
	flex-direction: column;
	gap: 1.5em;
}

#last-10-scores {
	margin-right: 5em;
}

.score_counter {
	margin-right: 2em;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 100%;
	height: 10vh;
	align-items: center;
}
  
.git_hub {
	margin-left: 10%;
}
  
.link {
	margin-right: 10%;
}
  
.link_to_git {
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: black;
}
  
.current_year {
	font-size: 1.5em;
	font-weight: bold;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  
.link_to_rssch {
	text-decoration: none;
}
  
.link_to_git:hover {
	color: coral;
}
  
.link_to_git:active {
	color: blue;
}


